In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [3]:
# Opening JSON file
f = open('large_eve.json')

info = f.readlines()

print(len(info))
# Closing file
f.close()

746909

In [5]:
jsons_array = [json.loads(line) for line in info if line]

In [51]:
print(jsons_array[0:2])

[{'timestamp': '2017-07-22T17:33:15.784100-0500', 'flow_id': 283570730437312, 'pcap_cnt': 18519, 'event_type': 'alert', 'vlan': 130, 'src_ip': '192.168.203.200', 'src_port': 2328, 'dest_ip': '192.181.145.109', 'dest_port': 445, 'proto': 'TCP', 'alert': {'action': 'allowed', 'gid': 1, 'signature_id': 2001569, 'rev': 15, 'signature': 'ET SCAN Behavioral Unusual Port 445 traffic Potential Scan or Infection', 'category': 'Misc activity', 'severity': 3}}, {'timestamp': '2017-07-22T17:33:16.571273-0500', 'flow_id': 1519048138171115, 'pcap_cnt': 21531, 'event_type': 'ssh', 'vlan': 140, 'src_ip': '192.168.204.60', 'src_port': 62990, 'dest_ip': '192.168.26.254', 'dest_port': 22, 'proto': 'TCP', 'ssh': {'client': {'proto_version': '2.0', 'software_version': 'OpenSSH_5.0'}, 'server': {'proto_version': '1.99', 'software_version': 'Cisco-1.25'}}}]

In [7]:
def filter_set(dictionary, search_string):
    def iterator_func(x):
        if search_string in list(x.keys()):
            return True
        return False
    return filter(iterator_func, dictionary)

In [8]:
filtered_records = filter_set(jsons_array, "dns")
filtered_records = list(filtered_records)

In [9]:
print(len(filtered_records))

15749

In [50]:
print(filtered_records[0:2])

[{'timestamp': '2017-07-22T17:33:16.661646-0500', 'flow_id': 1327836194150542, 'pcap_cnt': 22269, 'event_type': 'dns', 'vlan': 110, 'src_ip': '2001:0dbb:0c18:0011:0260:6eff:fe30:0863', 'src_port': 59680, 'dest_ip': '2001:0500:0001:0000:0000:0000:803f:0235', 'dest_port': 53, 'proto': 'UDP', 'dns': {'type': 'query', 'id': 15529, 'rrname': 'api.wunderground.com', 'rrtype': 'A', 'tx_id': 0}}, {'timestamp': '2017-07-22T17:33:24.990320-0500', 'flow_id': 2022925111925872, 'pcap_cnt': 54352, 'event_type': 'dns', 'vlan': 110, 'src_ip': '2001:0dbb:0c18:0011:0260:6eff:fe30:0863', 'src_port': 38051, 'dest_ip': '2001:0500:0003:0000:0000:0000:0000:0042', 'dest_port': 53, 'proto': 'UDP', 'dns': {'type': 'query', 'id': 58278, 'rrname': 'stork79.dropbox.com', 'rrtype': 'A', 'tx_id': 0}}]

In [11]:
df = pd.json_normalize(filtered_records)

In [12]:
df.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
3,2017-07-22T17:33:27.380146-0500,578544790391795,54520,dns,150,192.168.207.4,53,192.168.205.170,31393,UDP,answer,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,NaN,NaN,NXDOMAIN,NaN,NaN
4,2017-07-22T17:33:27.380146-0500,578544790391795,54520,dns,150,192.168.207.4,53,192.168.205.170,31393,UDP,answer,54724,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN

In [13]:
df.tail()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata
15744,2017-07-22T19:47:03.373435-0500,891876064866556,4441474,dns,120,192.168.207.4,53,192.168.202.172,60654,UDP,answer,33107,en-us.start3.mozilla.com,NaN,NaN,NXDOMAIN,NaN,NaN
15745,2017-07-22T19:47:03.373435-0500,891876064866556,4441474,dns,120,192.168.207.4,53,192.168.202.172,60654,UDP,answer,33107,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN
15746,2017-07-22T19:47:38.146503-0500,2199315651640391,4452917,dns,130,192.168.203.67,50975,192.168.207.4,53,UDP,query,35892,whitecell.localdomain,AAAA,0.0,NaN,NaN,NaN
15747,2017-07-22T19:47:38.146953-0500,2199315651640391,4452918,dns,130,192.168.207.4,53,192.168.203.67,50975,UDP,answer,35892,whitecell.localdomain,NaN,NaN,NXDOMAIN,NaN,NaN
15748,2017-07-22T19:47:38.146953-0500,2199315651640391,4452918,dns,130,192.168.207.4,53,192.168.203.67,50975,UDP,answer,35892,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN

In [14]:
df['dns.rrtype'].value_counts()

SOA     4852
A       2849
AAAA    1978
TXT      789
PTR      427
SRV       13
NS        13
Name: dns.rrtype, dtype: int64

In [15]:
filtro_registros = df[df['dns.rrtype'] == 'A']

In [16]:
filtro_registros['dns.rrtype'].value_counts()

A    2849
Name: dns.rrtype, dtype: int64

In [17]:
unique_domains = filtro_registros.drop_duplicates(subset=['dns.rrname'])

In [18]:
domains = unique_domains['dns.rrname'].value_counts()

In [19]:
domains

api.wunderground.com                      1
www.cakephp.org                           1
mirror.sanctuaryhost.com                  1
mirror.team-cymru.org                     1
mirror.umoss.org                          1
                                         ..
sourceforge.net                           1
www.freepbx.org                           1
secure.informaction.com.hackerlabs.vpn    1
www.bigflickrfeed.com                     1
client-software.real.com                  1
Name: dns.rrname, Length: 177, dtype: int64

In [20]:
from flare.data_science.features import domain_tld_extract

In [21]:
unique_domains.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN
9,2017-07-22T17:33:45.672579-0500,541745511744323,56307,dns,120,192.168.202.172,55580,192.168.207.4,53,UDP,query,12854,fxfeeds.mozilla.com,A,0.0,NaN,NaN,NaN

In [22]:
# Domain TLD Extract
unique_domains['tld_extract_domain'] = unique_domains['dns.rrname'].apply(domain_tld_extract)

In [23]:
unique_domains.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata,tld_extract_domain
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN,wunderground.com
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN,dropbox.com
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN,aoltw.net
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN,safebrowsing.clients.google.com.home
9,2017-07-22T17:33:45.672579-0500,541745511744323,56307,dns,120,192.168.202.172,55580,192.168.207.4,53,UDP,query,12854,fxfeeds.mozilla.com,A,0.0,NaN,NaN,NaN,mozilla.com

In [24]:
from urllib.parse import urlparse, urlencode

In [25]:
def getDomain(url):
    return urlparse(url).netloc
    
def getProtocol(url):
    return 1 if urlparse(url).scheme == 'https' else 0
    
def getSpecialCharacters(url):
    count_characters = 0
    count_characters += url.count('.')
    count_characters += url.count('-')
    count_characters += url.count('@')
    count_characters += url.count('?')
    count_characters += url.count('&')
    count_characters += url.count('|')
    count_characters += url.count('=')
    count_characters += url.count('_')
    count_characters += url.count('~')
    count_characters += url.count('%')
    count_characters += url.count('/')
    count_characters += url.count('*')
    count_characters += url.count(':')
    count_characters += url.count(',')
    count_characters += url.count(';')
    count_characters += url.count('$')
    count_characters += url.count('%20')
    count_characters += url.count(' ')
    return count_characters

In [26]:
nuevo_df = pd.DataFrame()

In [27]:
nuevo_df['longitud_url'] = unique_domains['dns.rrname'].str.len()
nuevo_df['ratio_digits_url'] = unique_domains['dns.rrname'].str.count('[0-9]') / unique_domains['dns.rrname'].str.len()
nuevo_df['ratio_digits_domain'] = unique_domains['dns.rrname'].apply(getDomain).str.count('[0-9]') / unique_domains['dns.rrname'].apply(getDomain).str.len()

In [28]:
nuevo_df.head()

   longitud_url  ratio_digits_url  ratio_digits_domain
0            20          0.000000                  NaN
1            19          0.105263                  NaN
2            42          0.023810                  NaN
6            36          0.000000                  NaN
9            19          0.000000                  NaN

In [29]:
nuevo_df['ratio_digits_domain'] = nuevo_df['ratio_digits_domain'].fillna(0)
nuevo_df['longitud_url'] = nuevo_df['longitud_url'].fillna(0)
nuevo_df['ratio_digits_url'] = nuevo_df['ratio_digits_url'].fillna(0)

In [30]:
indices_to_keep = ~nuevo_df.isin([np.nan, np.inf, -np.inf]).any(1)
nuevo_df[indices_to_keep].astype(np.float32)

nuevo_df

       longitud_url  ratio_digits_url  ratio_digits_domain
0                20          0.000000                  0.0
1                19          0.105263                  0.0
2                42          0.023810                  0.0
6                36          0.000000                  0.0
9                19          0.000000                  0.0
...             ...               ...                  ...
15632            26          0.000000                  0.0
15661            32          0.000000                  0.0
15701            17          0.000000                  0.0
15716            30          0.366667                  0.0
15737            24          0.000000                  0.0

[177 rows x 3 columns]

In [31]:
nuevo_df.head()

   longitud_url  ratio_digits_url  ratio_digits_domain
0            20          0.000000                  0.0
1            19          0.105263                  0.0
2            42          0.023810                  0.0
6            36          0.000000                  0.0
9            19          0.000000                  0.0

In [32]:
import joblib

In [33]:
modelo = joblib.load('modelo_lab1.h5')

In [34]:
resultados = modelo.predict(nuevo_df)

In [35]:
resultado = []

for i in resultados:
    if i == 1:
        resultado.append(True)
    else:
        resultado.append(False)

In [36]:
unique_domains[resultado]['tld_extract_domain']

1                           dropbox.com
2                             aoltw.net
148                             aol.com
163            192.168.22.110phpmyadmin
554                           aoltw.net
661                         mozilla.com
856                          google.com
859                           aoltw.net
1106                        comcast.net
1195                   "192.168.206.56"
1701                        comcast.net
1836                    192.168.26-27.0
4496                         google.com
6762                         google.com
6799                     stayonline.net
6815                          aoltw.net
6898                    192.168.21.1201
7861                             me.com
9979                    1922.168.22.254
10048              1922.168.22.254.home
10607                   192.168.21-28.0
14730              192.168.21-28.0.home
15507                   192.168.22.201:
15716    192.168.22.201:.stayonline.net
Name: tld_extract_domain, dtype: object

In [37]:
from flare.data_science.features import dga_classifier

In [38]:
dga_c = dga_classifier()

[*] Initializing... training classifier - Please wait.
[+] Training classifier on training set
[+] Out of sample legit f1 score 0.9989679140630485
[+] Out of sample dga f1 score 0.6549295774647887
[+] Training final classifier
[+] Classifier Ready

In [39]:
unique_domains['is_legit'] = unique_domains['tld_extract_domain'].apply(dga_c.predict)

In [40]:
dga_c.predict('hola')

'legit'

In [41]:
unique_domains.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata,tld_extract_domain,is_legit
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN,wunderground.com,legit
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN,dropbox.com,legit
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN,aoltw.net,dga
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN,safebrowsing.clients.google.com.home,legit
9,2017-07-22T17:33:45.672579-0500,541745511744323,56307,dns,120,192.168.202.172,55580,192.168.207.4,53,UDP,query,12854,fxfeeds.mozilla.com,A,0.0,NaN,NaN,NaN,mozilla.com,legit

In [42]:
unique_domains['is_legit'].value_counts()

legit    156
dga       21
Name: is_legit, dtype: int64

In [43]:
unique_domains[unique_domains['is_legit'] == 'dga']['tld_extract_domain']

2                   aoltw.net
21                  aoltw.net
39                  aoltw.net
97                  aoltw.net
554                 aoltw.net
736                 aoltw.net
741                 aoltw.net
751                 aoltw.net
807                 aoltw.net
816                 aoltw.net
848                 aoltw.net
859                 aoltw.net
6815                aoltw.net
7963             msftncsi.com
8026             msftncsi.com
9856     vtlfccmfxlkgifuf.com
9894                aoltw.net
10048    1922.168.22.254.home
10646    ejfodfmfxlkgifuf.xyz
14730    192.168.21-28.0.home
15540               aoltw.net
Name: tld_extract_domain, dtype: object

In [44]:
from flare.tools.umbrella import Umbrella
umbrellaCisco = Umbrella(limit = 1000000)

[+] Updated Umbrella Top 1 Million list...

In [45]:
for i in unique_domains[unique_domains['is_legit'] == 'dga']['tld_extract_domain']:
    print(i, ' = ', umbrellaCisco.domain_tld_in_umbrella(i))

aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
aoltw.net  =  False
msftncsi.com  =  True
msftncsi.com  =  True
vtlfccmfxlkgifuf.com  =  False
aoltw.net  =  False
1922.168.22.254.home  =  False
ejfodfmfxlkgifuf.xyz  =  False
192.168.21-28.0.home  =  False
aoltw.net  =  False

In [46]:
import whois

In [47]:
def creation_date(domain):
    w = whois.whois(domain)
    
    return w.creation_date

In [48]:
print(creation_date('webscraping.com'))

2004-06-26 18:01:19

In [49]:
for i in unique_domains[unique_domains['is_legit'] == 'dga']['tld_extract_domain']:
    try:
        print(i, ' = ', creation_date(i))
    except:
        print('No se encontro ', i)

aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
aoltw.net  =  2000-01-10 04:09:19
msftncsi.com  =  [datetime.datetime(2005, 11, 10, 22, 6, 51), datetime.datetime(2005, 11, 10, 17, 6, 51)]
msftncsi.com  =  [datetime.datetime(2005, 11, 10, 22, 6, 51), datetime.datetime(2005, 11, 10, 17, 6, 51)]
No se encontro  vtlfccmfxlkgifuf.com
aoltw.net  =  2000-01-10 04:09:19
1922.168.22.254.home  =  None
ejfodfmfxlkgifuf.xyz  =  None
192.168.21-28.0.home  =  None
aoltw.net  =  2000-01-10 04:09:19

El dominio aoltw.net que fue detectado como dga y no fue encontrado por Cisco Umbrella puede ser descartado como malicioso ya que cuenta con una fecha del aÃ±o 2000, al igual que msftncsi.com que fue detectado como dga pero si fue reconocido por Cisco Umbrella. Esto debido a que los dominios utilizados para ataques maliciosos tienen una corta duracion.